body{
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  /*margin-left:800px;
  margin-right: 800px;*/
  font-family: 'Ubuntu Condensed', sans-serif;
  color:white !important;
  background-color:rgba(0, 0, 0, 0.5) !important;


}

a {

color:black !important;
}

li {
  list-style-type: none;
}

a:visited, a:default {
  color: white;
}

a:hover {
  color: grey;
}

html {
  background: url(images/jazz.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.music-table{
  margin: 0 auto;
  display: inline-block;
}

music {
  background: url(images/jazz.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
